<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
      {{ title }}
      {% endblock %}
    </title>
    {% block title_extra %}
    <!-- <link rel="stylesheet" href="/static_blog/css/bootstrap.css"> -->
    <link rel="stylesheet" href="/static_blog/css/css_t1.css">
    <script src="/static_blog/js/jquery-1.7.2.min.js"></script>
    <script src="/static_blog/js/js1.js"></script>
    {% endblock %}
  </head>
  <body onload='window.setTimeout("rotateBanner();", 3000);'>
    <div class="fix_table">
      <ul class="menu1">
      {% for menu in menus %}
      <li class="menu1"><a class="menu" href="/blog/{{ menu }}">{{ menu }}</a></li>
      {% endfor %}
      </ul>
    <span id="clock" size="35"></span>
    <!--
    <button id="clock1" onclick="window.clearInterval(noClock)">Stop Clock</button>
    <button id="clock2" onclick="noClock=window.setInterval('clock()', 1000)">Continue Clock</button>
    -->
    </div>

    {% block msg_errors %}
    {% if errors %}
    <ul class="error">
      {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% elif msg %}
    <ul class="msg">
      {% for msgs in msg %}
      <li>{{ msgs }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}
    <!-- for develop of css test!!!!
    <span class="fix_table">here is contents.</span>
    -->
    <img src="/static_blog/img/news1.gif" alt='news.gif' id='news_gif' class="fix_table"/>
    <br />
    {% block body %}
    {% endblock %}

    {% block body2 %}
    <table class="content"><!-- id="table_test" -->
      <tr><th>h1</th><th>h2</th><th>h3</th></tr>
      <tr><td>d1</td><td>d2</td><td>d3</td></tr>
      <tr><td>e1</td><td>e2</td><td>d3</td></tr>
      <tr><td>d1</td><td>d2</td><td>d3</td></tr>
      <tr><td>e1</td><td>e2</td><td>d3</td></tr>
      <tr><td>d1</td><td>d2</td><td>d3</td></tr>
      <tr><td>e1</td><td>e2</td><td>d3</td></tr>
    </table>
    {% endblock %}

    {% block client_info %}
    <div class="box">
    <span class="fix_table22">here is body p.class="content"</span>
    </div>
    {% if client_info %}
      <table class="content">
        {% for k,v in client_info.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
        {% endfor %}
      </table>
    <div class="footer">
      Copyright of <a href="#">XXXX</a>. About <a href="#">YYYY</a>.
    </div>
    <div class="fixed">
      Hello, 暂时不要太关注我哦。
    </div>
    <button onclick="web_client">check</button>
    {% endif %}
    {% endblock %}

  </body>
</html>
