<html>
<head>

  <title>test_js</title>
    <link rel="stylesheet" href="/static_blog/css/css_t2.css">
    <script src="/static_blog/js/jquery-1.7.2.min.js"></script>
    <!--
    <script src="/static_blog/js/js1.js"></script>
    -->
</head>
<body>
      <div class="one">One</div>
      <div class="two">Two</div>
      <div class="three">Three</div>
      <div class="four">Four</div>

      <script type="text/javascript">
       var i = 0;
       while(i < 10) {
         document.write(i + "<br />");
         i++;
       }
       while ( i >= 1) {
         document.write(i + "<br />");
         i--;
       }

       document.write("hello, javascript");
      </script>

      <input type="text" name="email" value="Enter your email address"
             onfocus="this.value = '';" onblur = "if (this.value == '')
             this.value = 'Enter your email address';" />
      <input type="text" name="name" value="Enter your name"
             onfocus="this.value = '';" onblur = "if (this.value == '')
      this.value = 'Enter your name';" />

</body>

</html>
