<!doctype html>
<html lang="zh_CN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% block head %}
  <title>Flask</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename="./css/style.css") }}">
  <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js">
  </script>
  <script type="text/javascript" src="/static/js/js1.js">
  </script>
  {% endblock %}
</head>
<body>
  <div class=page>
  <h1>Flask</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">login</a>
    <a href="{{ url_for('show_entries') }}">show_entries</a>
  {% else %}
    <a href="{{ url_for('logout') }}">logout</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}
  {% endblock %}
  </div>
</body>

{% block footer %}
<div class="footer">
   admin@example.com  {{ config.FOOTER }} ©2012
</div>
{% endblock %}
