{# filename: about.html #}
{% extends "base.html" %}
{% block title %}About Flask{% endblock %}
{% block head %}
    {{ super() }}
    <!--
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css" >
      .important { color: #336699; }
    </style>
    //-->
    <link href="/static/css/ex10-03.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js">
    </script>
    <script type="text/javascript" src="/static/js/js1.js">
    </script>


{% endblock %}
{% block content %}
   <div class="metanav"
    <i>Welcome,</i>
     {% if username %}
     <b>{{ username }}</b> <a href="/logout">logout</a>
     {% else %}
     <b>guest </b><a href="/login">login</a>
     {% endif %}
   </div>

   <form id="navigation" boder="1">
     <div id="menu1">
     {% for item in navigation %}
     <a href="{{ item.href }}">{{ item.caption }}</a>
     {% endfor %}
     </div>
   </form>
   <div class="js1">
     <p>Here is about page's body.(p1)</p>
     <div id="js1">
       <p>Here is about page.(p2)</p>
     </div>
   </div>
   <button type="button" onclick="alert1()">alert1</button>
   <button type="button" onclick="test2()">test2</button>
   <button type="button" onclick="test3()">test3</button>
   <button type="button" onclick="test4()">test4</button>
   <button id="hide">hide_c-js1</button>
   <button id="show">show_c-js1</button>
   <div id="a2">id_a2</div>
   <span id="a3">id_a3</span><span id="a4"> id_a4</span>
   <button id="toggle">toggle</button>
   <br />
   <div id="div1"></div>
   <div id="div2"></div>
   <div id="div3"></div>
   <p>split</p>
   <div id="div4"></div>
   <div id="div5" onclick="testObject()"></div>
   <div id="div6" onclick="test5(this)"></div>
   <div id="add">add 0:</div>
   <button type="button" onclick="add1()">add1</button>
   <a href="javascript:void(window.open('about:blank'))">open a new</a>
   <a href="javascript:window.open('about:blank')">open a new2</a>
{% endblock %}
