{# filename: base.html #}
<!doctype html>
<html lang="zh_CN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% block head %}
  <link rel="stylesheet" href="/static/css/ex10-03.css" />
  <title>{% block title %}base - Flask{% endblock %}</title>

  <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js">
  </script>
  <script type="text/javascript" src="/static/js/js1.js">
  </script>

  {% endblock %}
</head>
<body>
  <div id="content">{% block content %}content....{% endblock %}</div>
  <div id="test_js"><p>test javaScript....</p></div>
  <script>
    function changeContent() {
        x = document.getElementById("test_js");
        x.innerHTML = "<p>My First JavaScript Function</p>";
    }
    function changeColor() {
        x = document.getElementById("test_js")
        x.style.color = "#ffff00";
        //x.style.color += 1;
        //alert(x.style.color);
        x.innerHTML = "<p>" + String(x.style.color) + "</p>";
    }
  </script>
  <button type="button" onclick="changeContent()">Chang content</button>
  <button type="button" onclick="changeColor()">Chang color</button>
  <div id="footer">{% block footer %}footer....{% endblock %}</div>
</body>
</html>
