{# filename: index.html #}
{% extends "base.html" %}
{% block title %}Index Flask{% endblock %}
{% block head %}
    {{ super() }}
    <link href="/static/css/ex10-03.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="metanav"
    <i>Welcome,</i>
    {% if username %}
        <b>{{ username }}</b> <a href="/logout">logout</a>
    {% else %}
        <b>guest </b><a href="/login">login</a>
    {% endif %}
    </div>
   <form id="navigation" boder="1">
     {% for item in navigation %}
     <a href="{{ item.href }}">{{ item.caption }}</a>
     {% endfor %}
   </form>
{% endblock %}
