<!doctype html>
<html lang="zh_CN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="/static/css/ex10-03.css" />
<title>show_entries - Flask</title>
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js">
</script>
</head>
<body>
<div id="content">
<i>Welcome,</i>
<b>guest </b><a href="/login">login</a>
<form id="navigation" boder="1">
  <a href="home">home</a>
  <a href="about">about</a>
  <a href="login">login</a>
</form>
<form id="navigation" boder="2">
  <a href="a1">a1</a>
  <a href="a2">a2</a>
</form>
<div class="error">
  <form method="post" action="#">
  	
	input username:<input type="text" name="username" value=""><br />
	input password:<input type="password" name="password" value=""><br />
	<input type="submit" name="input" value="OK">
	</form>
</div>
<div>
	<input type="text" name="password2" value=""><br />
	<input type="submit" name="input" value="OK">
</div>


<div class="error">
  <ul>linux</ul>
  <ul>windows</ul>
  <ul>unix</ul>
</div>
