<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
      {{ title }}
      {% endblock %}
    </title>
    {% block title_extra %}
    <!-- <link rel="stylesheet" href="/static_blog/css/bootstrap.css"> -->
    <link rel="stylesheet" href="/static_blog/css/css_t1.css">
    <script src="/static_blog/js/jquery-1.7.2.min.js"></script>
    <script src="/static_blog/js/js1.js"></script>
    {% endblock %}
  </head>
  <body>
    <!--在TABLE中集成菜单停用，改为下面的UL和LI
    <table class="logo">
      <tr><td class="menu">logo1</td></tr>
      <tr><td class="menu">
      {% if menus %}
        {% for menu in menus %}
        {# <td><a href="{% url 'blogadd' %}">{{ menu }}</a></td> #}
        <a href="/blog/{{ menu }}">{{ menu }}</a>
        {% endfor %}
      {% else %}
        <a href="#">empty</a>
      {% endif %}
      </td></tr>
    </table>
    -->
    <div id="nav">
      <ul id="menu">
      {% for menu in menus %}
      <li class="menu1"><a href="/blog/{{ menu }}">{{ menu }}</a></li>
      {% endfor %}
      </ul>
    </div>
    {% block msg_errors %}
    {% if errors %}
    <ul class="error">
      {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% elif msg %}
    <ul class="msg">
      {% for msgs in msg %}
      <li>{{ msgs }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}
    <span class="main">here is contents.
    </span>
    <br />
    {% block body %}
    {% endblock %}
    {% block body2 %}
    <table><!-- id="table_test" -->
      <tr><th>h1</th><th>h2</th><th>h3</th></tr>
      <tr><td>d1</td><td>d2</td><td>d3</td></tr>
      <tr><td>e1</td><td>e2</td><td>d3</td></tr>
      <tr><td>d1</td><td>d2</td><td>d3</td></tr>
      <tr><td>e1</td><td>e2</td><td>d3</td></tr>
      <tr><td>d1</td><td>d2</td><td>d3</td></tr>
      <tr><td>e1</td><td>e2</td><td>d3</td></tr>
    </table>
    {% endblock %}
    {% block client_info %}
    <p class="content">here is body p.class="content"</p>
    {% if client_info %}
    <div class="footer">
      <table>
        {% for k,v in client_info.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
        {% endfor %}
      </table>
    </div>

    {% endif %}
    {% endblock %}
  </body>
</html>
