{# filename: login.html #}
{% extends "base.html" %}

{% block title %}
  {{title}}
{% endblock %}

{% block body1 %}
 {% if form.errors %}
   <p class="error">sorry, that's not a valid username or password</p>
 {% endif %}

 {% if next %}
    <p>{{ next }}</p>
 {% endif %}

 {% if login_error_again %}
	<div class="error"> Your name or password is error! Please enter again... </div>
 {% endif %}

 <form name="form_login" action="/polls/login_auth/" method="post" onsubmit="return validate_login(this);">{% csrf_token %}
{#  onsubmit="return validate_login(this);" >  {% csrf_token %} #}
   <label for="username">User name:</label>
   <input type="text" name="username" value="" id="username" />
   <br />
   <br />
   <label for="password">Password:</label>
   <input type="password" name="password" value="" id="password" />
   <br/>
   <br/>
   <input type="submit" value="login" />
   <input type="hidden" name="next" value="{{next|escape}}" />
 </form>

<script type="text/javascript">
document.getElementById('username').focus()
</script>

{% endblock %}
