<!-- filename: welcome.html -->
{% extends "base.html" %}
    {% block title %}
    <title>{{title}}</title>
    {% endblock %}

<body>
    {% block logo1 %}
    <div id="logo1">
     <table  width="94%" border="0" cellspacing="10" cellpadding="0" class="table-bg">
      <tr>
       <td width="60%"></td>
       <td width="19%">
         <i>Welcome:</i> <b>
	 {% if username %} {{username}}
	   <a href="/logout" class="title_link">注销</a>
	   <a href="/register" class="title_link">注册</a>
	   {% else %} guest
	   <a href="/login" class="title_link">登录</a>
	   <a href="/register" class="title_link">注册</a>
	 {% endif %}</b>

       <td width="20%">
        <form id="form1" name="form1" method="post" action=""> {% csrf_token %}
         Search the website <br/>
         <input name="search_text" type="text" id="search_text" />
         <input type="submit" name="Submit" value="Search" />
        </form>
       </td>
      </tr>
     </table>
    </div>
    <div id="menu1">
     <table width="100%" border="1" cellpadding="0" cellspacing="0" class="linkcontainer" >
      <tr>
       <td width="20%"> <div class="navigation"> <a href="/home1" class="main_link">Home</a> </div> </td>
       <td width="20%"> <div class="navigation"> <a href="/search1" class="main_link">Search</a> </td>
       <td width="20%"> <div class="navigation"> <a href="/result1/" class="main_link">Result</a> </div> </td>
       <td width="20%"> <div class="navigation"> <a href="/program1/" class="main_link">Program</a> </td>
       <td width="20%"> <div class="navigation"> <a href="/about1/" class="main_link">About</a> </td>
      </tr>
     </table>
    </div>
    {% endblock %}
    {% block body %}
    <br /><div id="body">{{ body }}</div>{% endblock %}


  {% block footer %}
    <div id="footer">
    <a href="/about1/">About The Site</a>
    </div>
  {% endblock %}


 </body>
</html>
