<!-- filename: base.html -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title> {% block title %} db6sda8-www {% endblock %}</title>
        <!--
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
	//-->
	<link href="/static/css/ex10-03.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js">
    </script>
    <script type="text/javascript" src="/static/js/js1.js">
    </script>
  </head>

<body>

<!--
<input type="button" value="js1" onclick="for1()" >
<input type="button" value="js2" onmouseover="js_try()" >
-->

    <div id="logo1">
     <table  width="94%" border="0" cellspacing="10" cellpadding="0" class="table-bg">
      <tr>
       <td width="60%"></td>
       <td width="19%">
         <i>Welcome:</i> <b> {% if username %} {{username}} {% else %} guest </b> {% endif %}
         <a href="/login" class="title_link">登录</a>
         <a href="/logout" class="title_link">注销</a>
         <a href="/register" class="title_link">注册</a>
       <td width="20%">
        <form id="form1" name="form1" method="post" action=""> {% csrf_token %}
         Search the website <br/>
         <input name="search_text" type="text" id="search_text" />
         <input type="submit" name="Submit" value="Search" />
        </form>
       </td>
      </tr>
     </table>
    </div>
    <div id="menu1">
     <table width="100%" border="1" cellpadding="0" cellspacing="0" class="linkcontainer" >
      <tr>
       <td width="20%"> <div class="navigation"> <a href="/home1" class="main_link">Home</a> </div> </td>
       <td width="20%"> <div class="navigation"> <a href="/search1" class="main_link">Search</a> </td>
       <td width="20%"> <div class="navigation"> <a href="/result1/" class="main_link">Result</a> </div> </td>
       <td width="20%"> <div class="navigation"> <a href="/program1/" class="main_link">Program</a> </td>
       <td width="20%"> <div class="navigation"> <a href="/about1/" class="main_link">About</a> </td>
      </tr>
     </table>
    </div>
    <div id="content">
      {% block body1 %}
      {% endblock %}

      {% block body2 %}
      {% endblock %}

      {% block body3 %}
      {% endblock %}
    </div>

  <div id="footer">
   <br /> <a href="/about1/">About The Site</a>
  </div>

 </body>
</html>
