h1 { color:red; font-size:35px; font-family:黑体 }
p { background:yellow; color:green; font-size:25; font-family:宋体 }
p.error {color:red}
.error { color:red; font-size:35; }
body { background:#aaccac; color:green }

#logo1 { background:white; color:green }
#menu1 { background:#336633; color:#334455 }
#menu2 { background:#336644; color:#336633 }
#menu3 { background:#336655; color:#334455 }
table.table-bg {
	width: 100%;
	height: 100;
	background:url(/static/img/earth-horizon.jpg) 14px 5px ; }

table.linkcontainer td {
	background-color: #000000;
	filter:alpha(opacity=70);
	opacity: .7;
	-moz-opacity: .7; }

a.main_link:active,a.main_link:visited,a.main_link:link {
	font-weight: bold;
	text-decoration: none;
	display: block;
	width: 100%;
	color: #FFFFFF;
	line-height: 20px; }

a.main_link:hover {
	background-color:#333333;
	color: #FFFFFF;
	text-decoration:underline; }

a.title_link:active,a.title_link:visited,a.title_link:link {
	#font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	display: block;
	color: #FFFFFF; }

a.title_link:hover {
	#background-color:#333333;
	color: #FFFFFF;
	text-decoration:underline; }

div.navigation {
	height: 20px;
	vertical-align: middle;
	text-align: center; }

input:focus {
	outline:#ff0000 thin solid; }
textarea:focus {
	outline:#ff0000 thick solid; }
tr {
	#background-color:#aaccac; }
.form_odd {
	background-color:#ddeedd; }
