title {
    background-color: ;
    color: ;
}


.fix_table {
	margin-left: 20pt;
	margin-right: 20pt;
}

.fixed {   //wait to learn????
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	background-color: white;
}

div.box {
	background-color: #eeeeee;
	border: 2px solid #19619a;
	margin: 20pt;
	padding: 20pt;
}

table {
    border: solid 2px rgb(00, 200, 100);
    border-collapse: collapse;
    background-color: rgb(240, 240, 240);
    padding: 1px;
	margin-left: 20pt;
	margin-right: 20pt;
	width: 800px;
	//????align: center;
}

table th {
    border: solid 1px rgb(110, 110, 110);
    color: black;
	//background-color: rgb(150, 150, 200);
}

table tr {
    background-color: rgb(230, 250, 235);
}

table td {
    border: solid 1px rgb(240, 240, 240);
    //background-color: rgb(240, 240, 240);
    color: black;
}

table.content {
    border: solid 2px rgb(00, 200, 100);
    border-collapse: collapse;
    background-color: rgb(240, 240, 240);
    padding: 0px;
	width: 400px;
}

table.content th {
    border: solid 1px rgb(110, 110, 110);
    //background-color: rgb(200, 200, 200);
    color: black;
}

table.content tr {
    //background-color: rgb(230, 250, 235);
    color: blue;
}

table.content td {
    border: solid 1px rgb(240, 240, 240);
    //background-color: rgb(240, 248, 255);
    color: black;
}

ul.error {
    background-color: yellow;
    color: red;
    list-style-type: none;
    font-size: 20px;
}

ul.error li {
    background-color: white;
    color: red;
    list-style-type: none;
    font-size: 30px;
}

ul.msg {
    ;
}

ul.msg li {
    color: yellow;
    list-style-type: none;
}

ul.login {
    list-style-type: none;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    color: black;
    text-aligh: center;
    text-indent: 2px;
    font-family:
    font-size: 20px;
    font-weight: bold;

}

.my-form {
    background-color: gray;
    width: 23em;
}

.my-form input {
    background-color: white;
}

.my-form .form1 {
    background-color: rgb(200, 200, 200);
    width: 100%;
}

.my-form .form1 label {
    background-color: rgb(200, 200, 200);
    color: rgb(200, 100, 10)
    width: 19em;
    text-align: right;
}

.my-form .form1 #input1 {
    background-color: rgb(200, 100, 10)
    width: 15em;
    color: #00cc99;
}

.my-form .form1 #input2 {
    background-color: rgb(200, 100, 10)
    width: 15em;
    color: #00cccc;
}

.my-form .form1 #input3 {
    background-color: rgb(200, 100, 10)
    width: 15em;
    color: #00ccff;
}

.form_odd {
    background-color: rgb(250, 250, 250);
}

.form_even {
    background-color: rgb(123, 231, 213);
}

.choice {
    background-color: rgb(180, 150, 180);
}

.choiced {
	background-color: rgb(200, 150, 180);
}

.nav {
    display: inline;
}

.menu1 {
    display: inline; //: inline;
	background-color: #ddeeff;
	width: 200px;
	height: 100px;
	margin: 2px;
}

a:link {
    //color: #0000ff;
    //text-decoration: none;
}

a:visited {
    //color: #aa00aa;
    //text-decoration: none;
}

a:active {
	//background-color: #aaaaaa;
    //color: #ffffff;
    //text-decoration: underline;
}

a:link:hover {
    //background-color: #ffffff;
    //color: #aa00aa;
    //text-decoration: underline;
}

a.menu:link {
    color: #0000ff;
    text-decoration: none;
}

a.menu:visited {
    color: #aa00aa;
    text-decoration: none;
}

a.menu:active {
	background-color: #aaaaaa;
    color: #ffffff;
    text-decoration: underline;
}

a.menu:link:hover {
    background-color: #ffffff;
    color: #aa00aa;
    text-decoration: underline;
}

body {
    position: relative;
    top: 0px;
    /*background-color: #f0f8ff;*/
    background-color: rgb(240, 255, 255);
    color: rgb(150, 150, 150);
}

.table {
    border: solid 1px rgb(150, 150, 150);
	//border: 1px;
}

body p {
    position: relative;
    top: 0px;
    background-color: black;
    color: white;
}

body p.content {
    background-color: blue;
}

.footer {
    //background-color: green;
    color: red;
	text-align: center;
}
