{% extends "blog/base.html" %}

{% block body %}
<table id="table1">
  <tr><th>caption</th><th>author</th><th>tags</th><th>content</th><th>publish_time</th><th>update_time</th></tr>
  {% for blog in blogs %}
  <tr><td>{{ blog.caption }}</td><td>{{ blog.author }}</td><td>{{ blog.tags.name }}</td><td>{{ blog.content }}</td><td>{{ blog.publish_time }}</td><td>{{ blog.update_time }}</td></tr>
  {% endfor %}
</table>
{% endblock %}


<script language="javascript">
/*
var a = document.getElementsByTagName("tr");
var c
for (var i = 0; i < a.length; i++) {
  c = (c == "form_odd")? "form_even":"form_odd";
  a[i].className = c
}
*/
</script>
