{% extends "blog/base.html" %}

{% block body %}
{% if authors %}
<span class="fix_table">You have {{ authors|length }} author(s)</span>
{% endif %}

{% if blogs %}
<span class="fix_table">Here have {{ blogs|length }} blog(s)</span>
{% endif %}
<button onclick="">add</button>
<button onclick="">del</button>
<table class="content">
  <tr><th>choice</th><th>caption</th><th>tags</th><th>publish_time</th></tr>
  {% for blog in blogs %}
  <tr>
    <td><input type="checkbox" value="yes" name="check" /></td>
    <td><a href="/blog/{{ blog.pk }}">{{ blog.caption }}</a></td>
    <td>
    <ol>
    {% for tag in blog.tags.all %}
    <li>{{ tag }}</li>
    {% endfor %}
    </ol>
    </td>
    <td>{{ blog.publish_time }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}