<html>
<head>

  <title>test_js2</title>
    <!-- <link rel="stylesheet" href="/static_blog/css/css_t2.css"> -->
    <style type="text/css">
      hr {color: sienna;}
      p {margin-left: 20px;}
      .horizontal {
        float: left;
        list-style: none;
        margin: 10px;
        }
      .sub-level {
        background-color: blue;
        }
    </style>
    <script src="/static_blog/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#selected-plays > li').addClass('horizontal');
            $('#selected-plays li:not(.horizontal)').addClass('sub-level');
        });
    </script>
</head>
<body>
    <ul id="selected-plays">
        <li>Comedies
            <ul>
                <li><a href="">As you like it</a><li>
                <li>All's Well that ends well</li>
                <li>a midsummer night's dream</li>
                <li>twelfth night</li>
            </ul>
        </li>
        <li>Tradedies
            <ul>
                <li><a href="">Hamlet</a></li>
                <li>Macbeth</li>
                <li>romeo and juliet</li>
            </ul>
        </li>
        <li>Histories
            <ul>
                <li>Henry IV(<a href="">email</a></li>
                    <ul>
                        <li>Part I</li>
                        <li>Part II</li>
                    </ul>
                <li><a href="">Henry V</a></li>
                <li>Richard II</li>
            </ul>
        </li>
    </ul>
</body>
</html>
